<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Players Detail</ion-title>
  </ion-navbar>
</ion-header>
 
<ion-content>
<h2>Player detail form</h2>
<div *ngIf="player" class="container">
<form method="post" enctype="application/x-www-form-urlencoded">
  <ion-list>
  <ion-item>
    <ion-label>ID</ion-label>
    <ion-input type="text" id="id" name="id" [(ngModel)]="player.id"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label fixed>Name</ion-label>
    <ion-input type="text" id="name" name="name" [(ngModel)]="player.name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label floating>Year of Birth</ion-label>
    <ion-input type="number" id="yearBirth" name="yearBirth" [(ngModel)]="player.yearBirth"></ion-input>
  </ion-item>
  <ion-item>
      <ion-label floating>Team ID</ion-label>
      <ion-input type="number" id="teamId" name="teamId" [(ngModel)]="player.teamId"></ion-input>
    </ion-item>
  </ion-list>
  <p>
    <button ion-button full (click)="goBack()">Back</button>
  </p>
  <p>
    <button ion-button round (click)="create()" color="secondary">Create</button>
  </p>
  <p>
    <button ion-button outline (click)="save()" color="dark">Update</button>
  </p>
</form>
</div>
</ion-content><ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Players Detail</ion-title>
  </ion-navbar>
</ion-header>
 
<ion-content>
<h2>Player detail form</h2>
<div *ngIf="player" class="container">
<form method="post" enctype="application/x-www-form-urlencoded">
  <ion-list>
  <ion-item>
    <ion-label>ID</ion-label>
    <ion-input type="text" id="id" name="id" [(ngModel)]="player.id"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label fixed>Name</ion-label>
    <ion-input type="text" id="name" name="name" [(ngModel)]="player.name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label floating>Year of Birth</ion-label>
    <ion-input type="number" id="yearBirth" name="yearBirth" [(ngModel)]="player.yearBirth"></ion-input>
  </ion-item>
  <ion-item>
      <ion-label floating>Team ID</ion-label>
      <ion-input type="number" id="teamId" name="teamId" [(ngModel)]="player.teamId"></ion-input>
    </ion-item>
  </ion-list>
  <p>
      <button ion-button full (click)="goBack()">Back</button>
  </p>
  <p>
    <button ion-button round (click)="create()" color="secondary">Create</button>
  </p>
  <p>
    <button ion-button outline (click)="save()" color="dark" >Update</button>
  </p>
</form>
</div>
</ion-content>